<template>
    <div class="page">
        <HeaderComponent />
        <div class="page-container">
            <p>Not found page</p>
        </div>
    </div>
</template>

<script>
import HeaderComponent from "../components/HeaderComponent.vue";

export default {
    name: "404View",
    components: {
        HeaderComponent,
    },
};
</script>

<style lang="scss">
.page {
    .page-container {
        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
</style>
