<template>
    <main class="home">
        <div class="home-container">
            <h1 class="home-title">FilmoGraphic</h1>
            <input
                class="home-input"
                placeholder="Recherche un·e acteur·rice, un·e réalisateur·rice"
                type="text"
                v-model="query"
                @keyup.enter="goSearchPage"
            />
        </div>
    </main>
</template>

<script>
export default {
    name: "HomeView",
    data() {
        return {
            query: "",
        };
    },
    methods: {
        goSearchPage() {
            this.$router.push("/search/" + this.query);
        },
    },
};
</script>

<style lang="scss">
.home {
    min-height: 100vh;
    display: grid;
    align-items: center;

    .home-container {
        padding: 40px;
        text-align: center;

        .home-title {
            font-size: 40px;
        }

        .home-input {
            background: #232533;
            width: 100%;
            margin-top: 20px;
            height: 50px;
            font-size: 17px;
            padding: 0 25px;
        }
    }
}
</style>
