<template>
    <div class="person">
        <HeaderComponent />
        <div class="person-container">
            <PersonComponent
                :name="person?.name"
                :profile_path="person?.profile_path"
                :known_for_department="person?.known_for_department"
                portrait_width="120"
            />

            <div class="person-graphic" v-if="movie_credits">
                <GraphicComponent :original_datas="movie_credits" />
            </div>

            <div class="person-list" v-if="movie_credits">
                <ListComponent :original_datas="movie_credits" />
            </div>
        </div>
    </div>
</template>

<script>
import HeaderComponent from "../components/HeaderComponent.vue";
import PersonComponent from "../components/PersonComponent.vue";
import GraphicComponent from "../components/GraphicComponent.vue";
import ListComponent from "../components/ListComponent.vue";
import axios from "axios";

export default {
    name: "PersonView",
    components: {
        HeaderComponent,
        PersonComponent,
        GraphicComponent,
        ListComponent,
    },
    data() {
        return {
            person: null,
            movie_credits: null,
        };
    },
    computed: {
        id() {
            return this.$route.params.id;
        },
    },
    mounted() {
        axios
            .get(
                `https://api.themoviedb.org/3/person/${this.id}?api_key=${process.env.VUE_APP_API_KEY_THE_MOVIE_DB}`
            )
            .then((response) => {
                this.person = response.data;
            })
            .catch(function (error) {
                console.log(error);
            });

        axios
            .get(
                `https://api.themoviedb.org/3/person/${this.id}/movie_credits?api_key=${process.env.VUE_APP_API_KEY_THE_MOVIE_DB}`
            )
            .then((response) => {
                this.movie_credits = response.data;
            })
            .catch(function (error) {
                console.log(error);
            });
    },
};
</script>

<style lang="scss">
.person {
    .person-container {
        display: grid;
        row-gap: 40px;
        padding-bottom: 40px;
    }
}
</style>
