<template>
    <div class="search">
        <HeaderComponent />
        <div class="search-container">
            <div class="search-people" v-if="!loading">
                <div class="search-people-something" v-if="results.length">
                    <div class="search-people-items">
                        <div class="search-person" v-for="result in results" :key="result">
                            <router-link :to="'/person/' + result.id" class="search-person-link">
                                <PersonComponent
                                    :name="result?.name"
                                    :profile_path="result?.profile_path"
                                    :known_for_department="result?.known_for_department"
                                    :known_for="result?.known_for"
                                />
                            </router-link>
                        </div>
                    </div>
                    <div class="search-people-pagination" v-if="total_pages > 1">
                        <span class="page page-prev" v-if="page != 1" @click="changePage(--page)"
                            >Prev</span
                        >
                        <span class="page" v-for="page in pages" :key="page">
                            <span
                                :class="['page-content', page == this.page ? 'active' : '']"
                                v-if="page"
                                @click="changePage(page)"
                                >{{ page }}</span
                            >
                            <span v-else class="dots">...</span>
                        </span>
                        <span
                            class="page page-next"
                            v-if="page < total_pages"
                            @click="changePage(++page)"
                            >Next</span
                        >
                    </div>
                </div>
                <div class="search-people-nothing" v-else>Aucun résultat</div>
            </div>
            <LoaderComponent v-else />
        </div>
    </div>
</template>

<script>
import HeaderComponent from "../components/HeaderComponent.vue";
import LoaderComponent from "../components/LoaderComponent.vue";
import PersonComponent from "../components/PersonComponent.vue";
import axios from "axios";

export default {
    name: "SearchView",
    components: {
        HeaderComponent,
        LoaderComponent,
        PersonComponent,
    },
    data() {
        return {
            results: [],
            loading: 0,
            total_pages: 1,
            page: 1,
        };
    },
    computed: {
        query() {
            return this.$route.params.query;
        },
        pages() {
            let pages = [...new Array(4 + this.page).keys()];
            pages = this.page > 3 ? pages.slice(this.page - 3) : pages;
            pages = [1, 2, ...pages, this.total_pages - 1, this.total_pages];
            pages = pages.filter((el) => el > 0 && el <= this.total_pages);
            pages = pages.sort((a, b) => a - b);
            pages = pages.filter((el, i) => el !== pages[i + 1]);
            pages = pages.map((el, i) => {
                if (el - pages[i - 1] == 2) {
                    return el - 1 + "-" + el;
                } else if (el - pages[i - 1] > 2) {
                    return "0-" + el;
                }
                return el;
            });
            pages = pages.join("-").split("-").map(Number);
            return pages;
        },
    },
    methods: {
        getPeople() {
            const query = this.query.trim();
            setTimeout(() => {
                // Get results on TMDB
                axios
                    .get(
                        `https://api.themoviedb.org/3/search/person?api_key=${process.env.VUE_APP_API_KEY_THE_MOVIE_DB}&query=${query}&page=${this.page}`
                    )
                    .then((response) => {
                        this.results = Object.values(response.data.results);
                        this.total_pages = response.data.total_pages;

                        if (this.page > this.total_pages && this.results.length) {
                            this.page = 1;
                            this.getPeople();
                        } else {
                            this.loading = 0;
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }, 1000);
        },
        changePage(page) {
            this.loading = 1;
            this.page = page;
            this.$router.push("/search/" + this.query + "/" + page);
            this.getPeople();
        },
    },
    mounted() {
        this.loading = 1;
        this.page = Number.isInteger(Number(this.$route.params.page))
            ? Number(this.$route.params.page) > 0
                ? Number(this.$route.params.page) <= 500
                    ? Number(this.$route.params.page)
                    : 1
                : 1
            : 1;

        this.getPeople();
    },
};
</script>

<style lang="scss">
.search {
    padding-bottom: 40px;
    .search-container {
        .search-people {
            .search-people-something {
                .search-people-items {
                    display: grid;
                    row-gap: 30px;
                }
                .search-people-pagination {
                    display: flex;
                    justify-content: center;
                    column-gap: 10px;
                    margin-top: 20px;

                    .page .page-content,
                    .page-next,
                    .page-prev {
                        cursor: pointer;
                        user-select: none;
                    }

                    .page-content {
                        &.active {
                            text-decoration: underline;
                        }
                    }

                    .page-prev {
                        &:before {
                            content: "< ";
                        }
                    }
                    .page-next {
                        &:after {
                            content: " >";
                        }
                    }
                }
            }
            .search-people-nothing {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
</style>
