<template>
    <div class="graphic">
        <div class="chart-wrapper" data-wrapper>
            <p class="chart-heading" data-heading>
                {{ total_films_wording }}
            </p>

            <figure data-chart></figure>
        </div>
    </div>
</template>

<script>
import * as d3 from "d3";

export default {
    name: "GraphicComponent",
    props: {
        original_datas: Object,
    },
    data() {
        return {
            dimensions: { width: 1000, height: 200, marginTop: 8 },
            formatDate: d3.timeFormat("%Y"),
        };
    },
    computed: {
        total_films() {
            if (this.original_datas) {
                let films = [];
                films.push(...this.original_datas.cast);
                films.push(...this.original_datas.crew);
                films = films.sort((a, b) => a.id - b.id);
                films = films.filter((el, i) => (i ? el.id != films[i - 1]["id"] : true));

                return films.length;
            }
            return 0;
        },
        total_films_wording() {
            return this.getFilmsWording(this.total_films);
        },
    },
    methods: {
        xAccessor: (d) => d.year,
        yAccessor: (d) => d.value,
        getFilmsWording: (nb_film) => {
            return nb_film > 1 ? `${nb_film} films and series` : `${nb_film} film or serie`;
        },
        formatDatas(data) {
            let films = [];
            films.push(...data.cast);
            films.push(...data.crew);
            films = films.sort((a, b) => a.id - b.id);
            films = films.filter((el, i) => (i ? el.id != films[i - 1]["id"] : true));

            let years = [];
            films.forEach((film) => {
                const year = film.release_date ? Number(film.release_date.slice(0, 4)) : 0;
                const index = years.find((el) => el.year == year);
                if (index) index.value += 1;
                else years.push({ year, value: 1 });
            });
            years = years.filter((el) => el.year);
            years = years.sort((a, b) => a.year - b.year);

            let missing_year = years[years.length - 1].year - years[0].year;
            missing_year = [...new Array(missing_year + 5).keys()];
            missing_year = missing_year.map((el) => el + years[0].year - 2);
            missing_year = missing_year.filter((a) => !years.find((b) => b.year == a));
            missing_year = missing_year.map((el) => {
                return { year: el, value: 0 };
            });

            years = [...years, ...missing_year];
            years = years.sort((a, b) => a.year - b.year);
            return years;
        },
        draw(data) {
            const wrapper = d3.select("[data-wrapper]");
            const svg = wrapper
                .select("[data-chart]")
                .append("svg")
                .attr("viewBox", `0 0 ${this.dimensions.width} ${this.dimensions.height}`);

            const xDomain = d3.extent(data, this.xAccessor);
            const xRange = d3.extent([0, this.dimensions.width]);
            const xScale = d3.scaleTime().domain(xDomain).range(xRange);

            const yDomain = [0, d3.max(data, this.yAccessor)];
            const yRange = [this.dimensions.height, this.dimensions.marginTop];
            const yScale = d3.scaleLinear().domain(yDomain).range(yRange);

            const best = data.slice().sort((a, b) => b.value - a.value)[0].value;
            for (let i = 1; i <= best; i++) {
                svg.append("line")
                    .attr("x1", 0)
                    .attr("x2", this.dimensions.width)
                    .attr("y1", yScale(i))
                    .attr("y2", yScale(i))
                    .attr("stroke-width", 1)
                    .attr("stroke", "white")
                    .attr("opacity", ".1");
            }

            const areaGenerator = d3
                .area()
                .x((d) => xScale(this.xAccessor(d)))
                .y1((d) => yScale(this.yAccessor(d)))
                .y0(this.dimensions.height);

            svg.append("path")
                .datum(data)
                .attr("d", areaGenerator)
                .attr("fill", "darkviolet")
                .attr("opacity", 0.2);

            const lineGenerator = d3
                .line()
                .x((d) => xScale(this.xAccessor(d)))
                .y((d) => yScale(this.yAccessor(d)));

            svg.append("path")
                .datum(data)
                .attr("d", lineGenerator)
                .attr("stroke", "darkviolet")
                .attr("stroke-width", 3)
                .attr("stroke-linejoin", "round")
                .attr("fill", "none");

            const markerLine = svg
                .append("line")
                .attr("x1", 0)
                .attr("x2", 0)
                .attr("y1", 0)
                .attr("y2", this.dimensions.height)
                .attr("stroke-width", 3)
                .attr("stroke", "darkviolet")
                .attr("stroke-linejoin", "round")
                .attr("opacity", 0);

            const markerDot = svg
                .append("circle")
                .attr("cx", 0)
                .attr("cy", 0)
                .attr("r", 5)
                .attr("fill", "darkviolet")
                .attr("opacity", 0);

            const bisect = d3.bisector(this.xAccessor);
            let self = this;
            svg.on("mousemove", function (e) {
                const [posX] = d3.pointer(e);
                const date = xScale.invert(posX);
                const index = bisect.center(data, date);
                const d = data[index];

                if (d.year !== data[0].year && d.year !== data[data.length - 1].year) {
                    const x = xScale(self.xAccessor(d));
                    const y = yScale(self.yAccessor(d));
                    markerLine.attr("x1", x).attr("x2", x).attr("opacity", 1);
                    markerDot.attr("cx", x).attr("cy", y).attr("opacity", 1);

                    const year = self.xAccessor(d);
                    const nb_films = self.yAccessor(d);
                    d3.select("[data-heading]").text(`${year} : ${self.getFilmsWording(nb_films)}`);
                }
            });

            svg.on("mouseleave", () => {
                markerLine.attr("opacity", 0);
                markerDot.attr("opacity", 0);
                d3.select("[data-heading]").text(this.total_films_wording);
            });
        },
    },

    mounted() {
        if (this.original_datas) {
            const datas = this.formatDatas(this.original_datas);
            this.draw(datas);
        }
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.graphic {
    .chart-wrapper {
        width: 100%;

        .svg {
            path {
                background-image: conic-gradient(transparent 25%, red);
            }
        }
    }
    .chart-heading {
        text-align: center;
        margin-bottom: 10px;
        font-weight: bolder;
    }
}
</style>
