<template>
    <header class="header">
        <router-link to="/">
            <div class="header-brand">FilmoGraphic</div>
        </router-link>
        <div class="header-search">
            <input
                class="header-input"
                placeholder="Recherche un·e acteur·rice, un·e réalisateur·rice"
                v-model="query"
                @keyup="pressKey"
            />

            <div
                :class="['header-results', loading ? 'loading' : '']"
                v-if="query.length >= 3 && last_query !== ''"
            >
                <div class="header-results-items" v-if="results.length" @mouseleave="leaveResults">
                    <div
                        v-for="(result, i) in results"
                        :key="result"
                        :class="['header-results-item', cursor == i ? 'active' : '']"
                        @mouseover="selectItem(result)"
                        @click="clickItem(result)"
                    >
                        <PersonComponent
                            :name="result?.name"
                            :profile_path="result?.profile_path"
                            :known_for_department="result?.known_for_department"
                            portrait_width="40"
                        />
                    </div>
                </div>
                <div class="header-results-nothing" v-else>Aucun resultat</div>
            </div>
        </div>
    </header>
</template>

<script>
import axios from "axios";
import PersonComponent from "./PersonComponent.vue";

export default {
    name: "HeaderComponent",
    data() {
        return {
            query: "",
            last_query: "",
            results: [],
            loading: 0,
            cursor: -1,
        };
    },
    components: {
        PersonComponent,
    },
    methods: {
        selectItem(person) {
            if (!this.loading) {
                this.cursor = this.results.findIndex((el) => el.id == person.id);
            }
        },
        clickItem(person) {
            this.selectItem(person);
            this.goPersonPage(person);
        },
        goPersonPage(person) {
            this.$router.push("/person/" + person.id);
        },
        goResultsPage() {
            this.$router.push("/search/" + this.query);
            this.cursor = -1;
            this.last_query = "";
            this.results = [];
            this.loading = 0;
        },
        leaveResults() {
            this.cursor = -1;
        },
        pressKey(e) {
            const key = e.key;

            // Press Enter key
            if (key == "Enter") {
                if (this.cursor + 1) {
                    const person = this.results[this.cursor];
                    this.goPersonPage(person);
                } else {
                    this.goResultsPage();
                }
            }

            // Press Arrow Down key
            else if (key == "ArrowDown") {
                // Change results cursor
                this.cursor = this.cursor < this.results.length - 1 ? this.cursor + 1 : -1;
            }

            // Press Arrow Up key
            else if (key == "ArrowUp") {
                // Change results cursor
                this.cursor = this.cursor > -1 ? this.cursor - 1 : this.results.length - 1;
            }

            // Press Escape key
            else if (key == "Escape") {
                this.cursor = -1;
                this.results = [];
                this.last_query = "";
            }

            // Press other keys
            else {
                // Define query
                const query = this.query.trim();

                // If valid query
                if (query.length >= 3) {
                    if (query !== this.last_query) {
                        // Active loading
                        this.loading = 1;
                        setTimeout(() => {
                            // Get results on TMDB
                            axios
                                .get(
                                    `https://api.themoviedb.org/3/search/person?api_key=${process.env.VUE_APP_API_KEY_THE_MOVIE_DB}&query=${query}`
                                )
                                .then((response) => {
                                    this.results = Object.values(response.data.results).slice(0, 7);
                                    this.last_query = query;
                                    // Reset
                                    this.loading = 0;
                                    this.cursor = -1;
                                })
                                .catch(function (error) {
                                    console.log(error);
                                    this.last_query = query;
                                    // Reset
                                    this.loading = 0;
                                    this.cursor = -1;
                                });
                        }, 1000);
                    }
                }

                // If no valid query
                else {
                    // Reset
                    this.results = [];
                    this.last_query = "";
                    this.cursor = -1;
                }
            }
        },
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.header {
    display: flex;
    height: 70px;
    align-items: center;
    margin-bottom: 20px;
    column-gap: 40px;
    position: relative;
    z-index: 50;

    .header-brand {
        font-size: 20px;
        font-weight: bolder;
    }

    .header-search {
        width: 100%;
        position: relative;

        .header-input {
            height: 50px;
            font-size: 17px;
            padding: 0 25px;
            background: #232533;
            width: 100%;
        }

        .header-results {
            position: absolute;
            left: 0;
            width: 100%;
            top: 50px;

            .header-results-items {
                .header-results-item {
                    background: #39394f;
                    padding: 10px 30px;
                    cursor: pointer;

                    &:not(:last-child) {
                        border-bottom: 1px solid #232533;
                    }

                    &.active {
                        background: #21212e;
                    }
                }
            }

            .header-results-nothing {
                background: #39394f;
                padding: 10px 30px;
            }

            &.loading {
                & > * {
                    opacity: 0.5;
                }
            }
        }
    }
}
</style>
