<template>
    <div class="years">
        <div class="year" v-for="year in formated_datas" :key="year">
            <h3 class="year-value">{{ year.year ? year.year : "Unspecified date" }}</h3>
            <div class="year-films">
                <p class="year-film" v-for="film in year.films" :key="film">
                    <span class="year-film-title">{{ film.title }}</span>
                    <span class="year-film-department" v-if="film.department.length">
                        - {{ film.department.join(", ") }}</span
                    >
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "ListComponent",
    props: {
        original_datas: Object,
    },
    computed: {
        formated_datas() {
            if (this.original_datas) {
                let films = [];

                // Join department and duplicate films
                films.push(...this.original_datas.cast);
                films.push(...this.original_datas.crew);

                // Join department and duplicate films
                films = films.sort((a, b) => a.id - b.id);
                for (let i = 0; i < films.length; i++) {
                    films[i].department = films[i].department ? [films[i].department] : [];
                    if (i && films[i].id === films[i - 1].id) {
                        films[i].department.push(...films[i - 1].department);
                    }
                    films[i].department = films[i].department.sort((a, b) => a.localeCompare(b));
                }
                films = films.filter((el, i) =>
                    i < films.length - 1 ? el.id !== films[i + 1].id : true
                );

                // Create output array (year by year)
                let years = [];
                films.forEach((film) => {
                    const year = film.release_date ? Number(film.release_date.slice(0, 4)) : 0;
                    const index = years.find((el) => el.year == year);
                    if (index) {
                        index.films.push(film);
                    } else {
                        years.push({ year, films: [film] });
                    }
                });

                // Sort year in descending order of date and no date films in first
                years = years.sort((a, b) => Number(a.year) - Number(b.year));
                if (years[0].year == 0) {
                    const soon = years.splice(0, 1)[0];
                    years = years.reverse();
                    years.unshift(soon);
                } else {
                    years = years.reverse();
                }

                return years;
            }
            return [];
        },
    },
};
</script>

<style lang="scss">
.years {
    display: grid;
    row-gap: 40px;

    .year {
        display: grid;
        row-gap: 5px;

        .year-films {
            .year-film {
                .year-film-department {
                    opacity: 0.5;
                }
            }
        }
    }
}
</style>
