<template>
    <div
        class="person-card"
        :style="[
            `--portrait_width:${portrait_width}px`,
            profile_path
                ? `--portrait: url('https://image.tmdb.org/t/p/w500/${profile_path}');`
                : '',
        ]"
    >
        <div class="person-texts">
            <div class="person-name">{{ name }}</div>
            <div class="person-knownfor">
                {{ known_for_department }}
                {{
                    known_for
                        ? "● " + known_for.map((el) => (el.name ? el.name : el.title)).join(", ")
                        : ""
                }}
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "PersonComponent",
    props: {
        name: String,
        profile_path: String,
        known_for_department: String,
        known_for: Array,
        portrait_width: {
            type: String,
            default: "70",
        },
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.person-card {
    display: grid;
    grid-template-columns: var(--portrait_width) 1fr;
    column-gap: 20px;
    align-items: center;

    &:before {
        content: "";
        height: var(--portrait_width);
        border-radius: 5px;
        background-color: #21212e;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: var(--portrait);
    }

    .person-texts {
        white-space: nowrap;
        overflow: hidden;

        & > * {
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .person-knownfor {
            opacity: 0.5;
        }

        .person-name {
            font-weight: bolder;
        }
    }
}
</style>
