<template>
    <div class="container">
        <router-view :key="$route.path" />
    </div>
</template>

<script>
export default {
    name: "App",
    data() {
        return {
            input_query: "",
            input_last_query: "",
            input_results: [],
            input_loading: 0,
            input_cursor: -1,
        };
    },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@300;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: unset;
    background: unset;
    outline: unset;
    color: unset;
    text-decoration: unset;
}

html {
    background: #111727;
}

#app {
    background: #111727;
    color: #e3e8f4;
    font-family: "Anek Tamil", sans-serif;

    .container {
        min-height: 100vh;
        display: block;
        width: calc(100% - 40px);
        margin: 0 auto;
        max-width: 1000px;
        font-size: 20px;
    }
}
</style>
